body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test
{
    
    width: 250px;
    height: 250px;
    animation: animation1 1s infinite;
    border-top: 5px solid dodgerblue;
    border-bottom: 5px solid dodgerblue;
    
    border-radius: 50%;
    background-image: linear-gradient(to right bottom,rgba(0,0,0,.7),rgba(0,0,0,.7)),url();
}


@keyframes animation1
{
    0%
    {
        transform: rotate(0);
    }
    100%
    {
        transform: rotate(180deg);
    }
}