*
{
    margin: 0;
    padding: 0;
    color: red;
}

div
{
    width: 100%;
    height:70px;
    background-color: black;
}

h1
{
    border: 1px solid black;
    margin-top: 150px;
    padding: 50px;
}