*
{
    margin: 0;
    padding: 0;
}
.container
{
    width: 80%;
    margin: auto;
}
body
{
    height: 3000px;
}
header
{
    width: 100%;
    height: 750px;
    background-image: url('../img/bg-masthead.jpg');
    background-size: cover;
}
header .container
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;

}
header h1
{
    font-size: 80px;
    font-weight: 400;
}
header p
{
    font-size: 25px;
    font-weight: 400;
    margin: 10px 0px;
}
header button
{
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    background-color: #1d809f;
    color: white;
    box-shadow: 10px 10px 20px gray;
}

/* nav btn */
.nav-btn
{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    right: 50;
    top: 25;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;

}
.nav-btn i
{
    line-height: 50px;
}
nav
{
    width: 250px;
    height: 750px;
    background-color: #1d809f;
    position: fixed;
    right: 0;
    color: aliceblue;
    padding-top:100px;
    font-family: sans-serif;
    margin-right: -500px;
}
ul
{
    list-style: none;
}
nav h2,nav li
{
    margin: 10px 0px;
    padding: 20px 10px;
}
nav li:hover
{
    background-color: aliceblue;
    color: black;
}

.nav-open
{
    animation: nav-open 1s forwards;
}
.nav-close
{
    animation: nav-close 1s forwards;
}


@keyframes nav-open
{
    from
    {
        margin-right: -500px;
    }   
    to
    {
        margin-right: 0px;
    }
}

@keyframes nav-close
{
    from
    {
        margin-right: 0px;
    }   
    to
    {
        margin-right: -500px;
    }
}